{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block content %}

    <div class="container">
        <h1>List of users</h1>
        <table class="table">
            <thead>
                <tr>
                  <th>ID</th>
                  <th>Username</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="{{ url_for('web_user.web_user_detail', user_id=user.id) }}">{{ user.id }}</a></td>
                        <td>{{ user.username }}</td>
                </tr>
                  {% endfor %}
              </tr>
            </tbody>
        </table>
    </div>
{% endblock %}